#contendedorGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "one"
        "two"
        "three"
        "four";

}




.one {
    background-color: rgba(182, 182, 182, 0);
    grid-area: one;
    display: $d-flex;
    @include itemCenter(center,center);
    flex-direction: column;

}

.two {
    background-color: rgba(133, 133, 133, 0);
    grid-area: two;
    display: $d-flex;
    flex-direction: column;
    @include itemCenter(center,center);


}

.three {
    background-color: rgba(63, 63, 63, 0);
    grid-area: three;
}

.four {
    background-color: rgba(139, 139, 139, 0);
    grid-area: four;
}
