.pieTitulo {
    font-size: 2rem;
    color: $main-color;
    font-family: "Roboto", sans-serif;
  }
  
  .pieSubtitulo{
    @extend .pieTitulo;
    font-size: 1.3rem;
    color: grey;
  }

  @mixin itemCenter($justifyC , $alignC){
    justify-content: $justifyC;
    align-items: $alignC;
  }

  $paleta:(
    "uno":rgba(255, 255, 255, 0.603),
    "dos":rgba(255, 255, 255, 0.432),
    "tres":rgba(255, 255, 255, 0.705),);
  